<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%p | %C{1} | %m%n" />
		</layout>
	</appender>
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log/automatic_reviewer.log" />
		<param name="immediateFlush" value="true" />
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d | %p | %C | %m%n" />
		</layout>
	</appender>


	<logger name="edu.uic.cs.automatic_reviewer" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	<root>
		<priority value="warn" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>